<h1>Examples of our work</h1>
<h1><small>For you to use</small></h1>

<div class="row">
  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Affordable Care Act API</h2>
      <p>An open <%= link_to "Application Program Interface", "http://acapi.dchbx.org" %> (API) specification for online health insurance marketplaces</p>
    </div>
  </div>

  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Health Benefit Exchange EDI Portal</h2>
      <p>A <%= link_to "web application", "https://github.com/dchbx/gluedb/" %> for monitoring and managing Electronic Data Interchange (EDI) between online health insurance marketplace trading partners</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Live Transit API</h2>
      <p>An open API to access real time bus arrival information for Montgomery County, Maryland's RideOn public transportation system.  Both <%= link_to "documentation", "http://kb.g-and-o.com/wiki/index.php/Live_Transit_API" %> and <%= link_to "application code", "https://github.com/ipublic/live_transit_api" %> are available.</p>
    </div>
  </div>

  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Washington DC's CityStat KB</h2>
      <p><%= link_to "Knowledge base", "http://wiki.ipublic.org" %> (KB) about creating and operating one of the first government open data systems: the District of Columbia's DC Stat system</p>    </div>
  </div>
</div>
