
<section id="home" class="scroll-panel white-bg">
  <div class="jumbotron text-centered white-bg">
    <div class="container">
      <%= render 'home' %>
    </div>
  </div>
</section>

<section id="about" class="scroll-panel lighter-violet-bg">
  <div class="jumbotron text-centered lighter-violet-bg">
    <div class="container">
      <%= render 'about' %>
    </div>
  </div>
</section>

<section id="team" class="scroll-panel black-bg">
  <div class="jumbotron text-centered black-bg">
    <div class="container">
      <%= render 'team' %>
    </div>
  </div>
</section>

<section id="resources" class="scroll-panel khaki-bg">
  <div class="jumbotron text-centered khaki-bg">
    <div class="container">
      <%= render 'resources' %>
    </div>
  </div>
</section>

<section id="career" class="scroll-panel">
  <div class="jumbotron text-centered">
    <div class="container">
      <%= render 'career' %>
    </div>
  </div>
</section>

<section id="contact" class="scroll-panel white-bg">
  <div class="jumbotron white-bg">
    <div class="container">
      <%#= render 'contact' %>
    </div>
  </div>
</section>