
<section id="home" class="scroll-panel">
  <div class="jumbotron text-centered">
    <h1>IdeaCrew<br/>
    <small>We at IdeaCrew Create Software that People want to use.</small></h1>
  </div>
</section>
<section>
  <div class="jumbotron text-centered">
  <h1>We bring a fresh approach to health care</h1>

  </div>
</section>

<section id="about" class="scroll-panel">
  <div class="jumbotron text-centered">
    <h1>We're lovers of both dogs and cats</h1>
    <p>Who'd of thunk?</p>
    <div class="row">
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-2">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-2">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <%= image_tag "ideacrew-logo-shadow-600x250.png" %>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="team" class="scroll-panel">
  <div class="jumbotron text-centered">
    <h1>We have amazing people!</h1>
    <p>Great people do great things</p>    
  </div>
</section>

<section id="resources" class="scroll-panel">
  <div class="jumbotron text-centered">
    <h1>Here's some of the great things we built</h1>
    <p>For you to use</p>    
  </div>
</section>

<section id="career" class="scroll-panel">
  <div class="jumbotron text-centered">
    <h1>We have amazing opportunities!</h1>
    <p>Great people do great things</p>    
  </div>
</section>

<section id="contact" class="scroll-panel">
  <div class="jumbotron">
    <h1>Contact us!</h1>
    <p>We love to talk</p>    
    <div class="col-md-6">
      
    </div>
  </div>
</section>