
<section id="home" class="scroll-panel white-bg">
  <div class="jumbotron text-centered white-bg">
    <div class="container">
      <%= render 'home' %>
    </div>
  </div>
</section>

<section id="services" class="scroll-panel lighter-violet-bg">
  <div class="jumbotron text-centered lighter-violet-bg">
    <div id="services-container" class="container">
      <%= render 'services' %>
    </div>
  </div>
</section>

<section id="products" class="scroll-panel khaki-bg">
  <div class="jumbotron text-centered khaki-bg">
    <div class="container">
      <%= render 'products' %>
    </div>
  </div>
</section>

<section id="playbook" class="scroll-panel text-centered black-bg">
  <div class="jumbotron black-bg">
    <div class="container">
      <%= render 'playbook' %>
    </div>
  </div>
</section>

<section id="contact" class="scroll-panel white-bg">
  <div class="jumbotron white-bg text-centered">
    <div class="container">
      <%= render 'contact' %>
    </div>
  </div>
</section>